#city{
	height: auto;
}
.city-header{
	position: relative;
	width: 100%;
	height: 1.877333rem;
	background: #3199e8 url(../img/logo2.jpg) no-repeat 0.4rem center;
}
.login{
	position: absolute;
	right: 0;
	font-size: 12px;
	line-height: 44px;
	color: white;
	padding-right: 10px;
}
.city-location,.hot-city,.indexes-city{
	position: relative;
	margin-top: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: white;
}
.indexes-city{
	border-bottom: none;
}
.city-wrrap{
	position: relative;
}
.current-city{
	margin-top: 10px;
	background: white;
}
.current{
	font-size: 14px;
	color: #333;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.current-city .current{
	border-top: 1px solid #ddd;
}
.current span{
	position: absolute;
	right: 0;
	padding-right: 10px;
	font-size: 12px;
	color: #999;
}
.allCity-wrap{
	border-bottom: 1px solid #ddd;
}
.now-city{
	padding: 10px;
	display: block;
}
.now-city span{
	color: #3199e8;
	font-weight: bolder;
	font-size: 20px;
}
.now-city i{
	color: #999;
	font-weight: bolder;
	position: absolute;
	right: 0;
	bottom: 10px;
}
.city-list-wrap,.indexes-list{
	overflow: hidden;
}
.city-list-wrap li{
	float: left;
	width: 25%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 16px;
}
.city-list-wrap li a{
	color: #08c;
	font-size: 0.682667rem;
	display: inline-block;
	width: 100%;
	height: 2rem;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.indexes-list li{
	float: left;
	width: 12.5%;
	text-align: center;
	height: 2rem;
	line-height: 2rem;
}
.indexes-list li a{
	color: #999;
	display: inline-block;
	width: 100%;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.backtop{
	position: fixed;
	right: 0.5rem;
	bottom: 1rem;
}
.backtop .iconfont{
	font-size: 1.706667rem;
	color: #ff7f00;
	display: none;
}