.city-header{
	position: relative;
	width: 100%;
	height: 1.877333rem;
	background: #3199e8 url(../img/logo2.jpg) no-repeat 0.4rem center;
}
.login{
	position: absolute;
	right: 0;
	font-size: 12px;
	line-height: 44px;
	color: white;
	padding-right: 10px;
}
.city-location{
	position: relative;
	margin-top: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: white;
}
.current{
	font-size: 14px;
	color: #333;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.current span{
	position: absolute;
	right: 0;
	padding-right: 10px;
	font-size: 12px;
	color: #999;
}
